<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlServerCe.3.5" name="StringTestDB" connectionString="Data Source=DataBase/TypeInfo.sdf;Persist Security Info=True" />
    <add providerName="System.Data.SqlServerCe.3.5" name="NumericDB" connectionString="Data Source=DataBase/TypeInfo.sdf;Persist Security Info=True" />
    <add providerName="System.Data.SqlServerCe.3.5" name="Northwind" connectionString="Data Source=DataBase/Northwind.sdf;Persist Security Info=True" />
    <add providerName="System.Data.SqlServerCe.3.5" name="g_jia" connectionString="Data Source=DataBase/TypeInfo.sdf;Persist Security Info=True" />
  </connectionStrings> 
 <system.data>
    <DbProviderFactories>
      <clear/>
     
      <add name="SqlCe3.5 Data Provider"
         invariant="System.Data.SqlServerCe.3.5"
         description="ddd"
         type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>

    </DbProviderFactories>
  </system.data>
  
</configuration>