<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password="
      providerName="System.Data.SqlClient" />
    <add name="NLite.Data.Test.LinqToSql.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>