<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <!--<add name="ELinq" connectionString="Data Source=JIA\JIA;Initial Catalog=ELinq;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="NLite.Data.Test.LinqToSql.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=JIA\JIA;Initial Catalog=ELinq;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />-->
    <add name="ELinq" connectionString="Data Source=.;Initial Catalog=ELinq;Persist Security Info=True;User ID=sa;Password=" providerName="System.Data.SqlClient" />
    <add name="SqlCELinq" connectionString="Data Source=DataBase/Northwind.sdf;Persist Security Info=True" providerName="System.Data.SqlServerCe.3.5" />
    <add name="SQLiteELinq" connectionString="Data Source=DataBase/Northwind.sdf;Persist Security Info=True" providerName="System.Data.SQLite" />
    <add providerName="System.Data.OracleClient" name="OracleELinq" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.6.151)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=jia;Password=123;" />
    <add providerName="MySql.Data.MySqlClient" name="MySqlELinq" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=MySqlELinq;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add name="NLite.Data.Test.LinqToSql.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.;Initial Catalog=ELinq;Persist Security Info=True;User ID=sa;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="ddd" type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite" />
      <add name="MySql Data Provider" invariant="MySql.Data.MySqlClient" description="ddd" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
      <add name="SqlCe3.5 Data Provider" invariant="System.Data.SqlServerCe.3.5" description="ddd" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
      <add name="System.Data.OracleClient" invariant="System.Data.OracleClient" description="ddd" type="System.Data.OracleClient.OracleClientFactory,System.Data.OracleClient" />
      <add name="Oracle.DataAccess.Client" invariant="Oracle.DataAccess.Client" description="ddd" type="Oracle.DataAccess.Client.OracleClientFactory,Oracle.DataAccess" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>