<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<add providerName ="System.Data.OleDb" name="nullabletypesDB" connectionString="server=127.16.6.29;database=@NULLABLETYPESDB.GDB"/>-->
  <connectionStrings>
    <add providerName ="FirebirdSql.Data.FirebirdClient" name="NumericDB" connectionString="data source=localhost;initial catalog=NULLABLETYPESDB.GDB;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="FirebirdSql.Data.FirebirdClient"
           invariant="FirebirdSql.Data.FirebirdClient"
           description="ddd"
           type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory,FirebirdSql.Data.FirebirdClient"/>
    </DbProviderFactories>

  </system.data>
</configuration>
