<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/> 
    <add providerName="MySql.Data.MySqlClient" name="StringTestDB" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=NLitedb;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add providerName="MySql.Data.MySqlClient" name="mysqlTest" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=mysqldb;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add providerName="MySql.Data.MySqlClient" name="NumericDB" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=mysqldb;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add providerName="MySql.Data.MySqlClient" name="Machuan" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=northwind;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add providerName="MySql.Data.MySqlClient" name="Northwind" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=NLitedb;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
    <add providerName="MySql.Data.MySqlClient" name="g_jia" connectionString="Host=172.16.6.151;UserName=root;Password=root;Database=mysqldb;Port=3306;CharSet=utf8;Allow Zero Datetime=true" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySql Data Provider"
           invariant="MySql.Data.MySqlClient"
           description="ddd"
           type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    </DbProviderFactories>

  </system.data>
</configuration>