<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="zhao_xuemeng" connectionString="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="StringTestDB" connectionString="server=JIA\JIA;database=test;uid=sa;pwd=123;"
      providerName="System.Data.SqlClient" />
    <add name="NumericDB" connectionString="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SqlServer" connectionString="Data Source=172.16.6.29;Initial Catalog=NullableTypesDB;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="Northwind" connectionString="server=JIA\JIA;database=test;uid=sa;pwd=123;"
      providerName="System.Data.SqlClient" />
    <add name="g_jia" connectionString="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="NLite.Data.Test.SqlServer.Properties.Settings.testConnectionString"
      connectionString="Data Source=JIA\JIA;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>