<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add providerName="Oracle.DataAccess.Client" name="g_jia" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.6.151)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=system;Password=123;"/>
    <add providerName="Oracle.DataAccess.Client" name="NumericDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.6.151)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=system;Password=123;"/>
    <add providerName="Oracle.DataAccess.Client" name="Northwind" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.6.151)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=system;Password=123;"/>
    <add providerName="Oracle.DataAccess.Client" name="StringTestDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.6.151)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=system;Password=123;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="System.Data.OracleClient" invariant="System.Data.OracleClient" description="ddd" type="System.Data.OracleClient.OracleClientFactory,System.Data.OracleClient"/>
      <add name="Oracle.DataAccess.Client" invariant="Oracle.DataAccess.Client" description="ddd" type="Oracle.DataAccess.Client.OracleClientFactory,Oracle.DataAccess"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
