<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add providerName="System.Data.SqlClient"  name="zhao_xuemeng" connectionString ="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"/>
    <add providerName ="System.Data.SqlClient" name="StringTestDB" connectionString="server=.;database=test;uid=sa;pwd=123;"/>
    <add providerName="System.Data.SqlClient"  name="NumericDB" connectionString ="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"/>
    <add providerName="System.Data.SqlClient" name="SqlServer" connectionString="Data Source=172.16.6.29;Initial Catalog=NullableTypesDB;Persist Security Info=True;User ID=sa;Password=123"/>
    <add providerName="System.Data.SqlClient" name="Northwind" connectionString="server=.;database=Northwind;uid=sa;pwd=;"/>
    <add providerName="System.Data.SqlClient"  name="g_jia" connectionString ="Data Source=ZXM-PC\SQLEXPRESS;Initial Catalog=users;Persist Security Info=True;User ID=sa;Password=123"/>

  </connectionStrings>
</configuration>