<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add providerName="System.Data.SQLite" name="StringTestDB" connectionString="Data Source=~/../DataBase/SqliteDB.db;Pooling=true;FailIfMissing=false" />
    <add providerName="System.Data.SQLite" name="NumericDB" connectionString="Data Source=~/../DataBase/SqliteDB.db;Pooling=true;FailIfMissing=false;BinaryGUID=False" />
    <add providerName="System.Data.SQLite" name="lf_sqlite" connectionString="Data Source=~/../DataBase/SQLite.db;Pooling=true;FailIfMissing=false" />
    <add providerName="System.Data.SQLite" name="ma_chuan" connectionString="Data Source=~/../DataBase/SQliteDB.db;Pooling=true;FailIfMissing=false" />
    <add providerName="System.Data.SQLite" name="Northwind" connectionString="Data Source=~/../DataBase/Northwind.sl3;Pooling=true;FailIfMissing=false" />
    <add providerName="System.Data.SQLite" name="g_jia" connectionString="Data Source=~/../DataBase/SqliteTest.db;Pooling=true;FailIfMissing=false" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description="ddd"
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>