<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add providerName="System.Data.OleDb"  name="StringTestDB" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/../Database/users.accdb;Persist Security Info=True"/>
    <add providerName ="System.Data.OleDb" name="g_jia" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/../Database/DateTimeTest.accdb;Persist Security Info=True"/>
    <add providerName ="System.Data.OleDb" name="Ma_chuan" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/../Database/AccessDB.accdb;Persist Security Info=True"/>
    <add providerName ="System.Data.OleDb" name="Northwind" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/../Database/Northwind.mdb;Persist Security Info=True"/>
    <add providerName ="System.Data.OleDb" name="NumericDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~/../Database/AccessDB.accdb;Persist Security Info=True"/>
  </connectionStrings>
</configuration>